<!-- views/listings/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Watchlist</title>
  </head>
  <body>
    <h1>Here's your Watchlist</h1>
    <%- include('../partials/_navbar.ejs') %>
    <a href="/watchlists/new">Add a New Watchlist</a>
  </body>
</html>
